body{
    margin-left: 25px;
    margin-right: 25px;
    

}
.botvinnik{
margin-left: 20px;
text-align: left;
font-size: 12px;
}
name{
    
    margin-bottom: 0;
}
.data{
    color:rgb(22, 192, 22);
    
}
.champion{
    color: rgb(230, 20, 20);
    
    
}
.information{
color: blue;

font-style: oblique;
text-align: justify;

}

.infobotvin{
width: 110px;
 background-image:url("../images/extref.png") ;
 background-repeat: no-repeat;
 text-align: right;
 
}
.xtref{
    float: left;}